HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


# ### Rust/backend ###
backend/target

# ### Vue/frontend ###
# frontend/node_modules
# frontend/.vscode

# ### env files ###
backend/.env
frontend/.env

# ### db files ###
# cart_and_checkout.sql
# dienmay_db_update_thongsokythuat.sql
# dienmay_db.sql
# update_table_user.sql

# ### images ###
# images_db/
# images_product/
